* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#company {
    padding: 40px 0 20px 0;
    font-weight: 300;
    font-size: 48px;
    color: #fff;
    text-align: center;
}

#slogan {
    font-weight: 500;
    color: #fff;
    text-align: center;
}

main{

}

h1 {
    color: rgb(159, 51, 23);
}

h2 {
    color: rgb(110, 54, 51);
}

footer {
    background-color: rgb(84, 47, 45);
    padding: 20px 0;
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 14px;
}