* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(245, 235, 255);
}

header {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

#title {
    color: white;
    font-size: 3.5rem;
    font-weight: 200;
}

#subtitle {
    color: white;
}

main {
    background-color: white;
    padding: 20px;
}

h1 {
    color: rgb(159, 23, 107);
    padding: 0px 0 5px 0;
}

h2 {
    color: rgb(92, 51, 110);
    padding: 10px 0;
}

ul {
    list-style-type: circle;
    padding: 0 0 5px 40px;
}

div.game {
    display: flex;
}

article {
    width: 25%;
    text-align: center;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(159, 23, 107);
    margin: 5px 0;
}

button {
    padding: 6px;
    background-color: rgb(159, 23, 107);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    width: 40%;
}

article div {
    background-color:rgb(245, 235, 255);
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#attempts {
    font-size: 4rem;
    font-weight: 200;
}

#ribbon {
    background-size: cover;
    background-position: center;
}

footer {
    background-color: rgb(86, 153, 168);
    padding: 20px 0;
}

footer p {
    color: white;
    text-align: center;
    font-size: 0.9rem;
}